

header{
    height: 120px;
    background-color: red;
    
}

#logo{
    height: 80px;    
    margin-top: 20px;
}

.logo-text{
    font-size: 50px;
    font-weight: bolder;
     
}

main{
    
}

.sezioneadd{
    background-color: blue;
    height: 50px;
    width: 700px;
    border-radius: 2%;
           
}

.lista{
    background-color: blue;
    height: 500px;
    width: 700px;
    border-radius: 2%;          
}

.addtask{
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 10px 20px;    
    background: #0095cd;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.addsection{
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: darkgrey;
    padding: 10px 20px;    
    background: white;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.editorial{
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 10px 20px;    
    background: #0095cd;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}