

header{
    height: 120px;
    background-color: red;
    
}

#logo{
    height: 80px;    
    margin-top: 20px;
}

.logo-text{
    font-size: 50px;
    font-weight: bolder;
     
}

main{
    
}

.sezioneadd{
    background-color: blue;
    height: 50px;
    width: 700px;
    border-radius: 2%;
           
}

.lista{
    background-color: blue;
    height: 500px;
    width: 700px;
    border-radius: 2%;
          
}